/**
*** SIMPLE GRID + BASIC STYLES
**/

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

/* Box Sizing
  ========================================================================== */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0 10px;
}

/* ==========================================================================
   GRID SYSTEM
   ========================================================================== */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.row [class^="col"] {
  float: left;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

.row::after,
.row::after {
  content: "";
  display: table;
  clear: both;
}

/*
** Remove the following style and class from html
*/

.item {
  text-align: center;
  border: 1px solid #2196f3;
  padding: 15px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #3f51b5;
}

header,
footer {
  text-align: center;
}

/* ==========================================================================
   DESKTOP STYLES
   ========================================================================== */

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
  }

  .col-1 {
    width: 8.3%;
    width: calc(100% / 12 * 1);
  }

  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: calc(100% / 12 * 12);
  }
}
